
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    
}
:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.3rem;
}
.header_content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo-icon{
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.7rem;
}
.logo_image{
    height: 5.875rem;
    width: 1.975rem;
}

.nav{
    display: none;

    gap: 1.5rem;
    color: #646d7a;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s;
}
@media screen and (min-width:800px ){
    .nav{
        display: flex;
    }
    
}
.nav:hover{
    color: var(--link-color);
}

.contact_button{
    display: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 0.675rem 1.2rem;
    color: rgb(255, 238, 238);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.1sec;
    
}
@media screen and (min-width:800px ){
    .contact_button{
        display: flex;
    }
    
}
.contact_button:hover{
    background-color: #5245f8;
}

.menu_button{
    display:none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;
}
@media screen and (max-width:800px ){
    .menu_button{
        display: block;
    }
    
}




.menubutton{
    height: 30px;
    width: 30px;

    
}


.mainsection{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 0.6rem;
    margin: 0 auto;
}
.contentleft{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft {
    
    0%{
        opacity: 0;
        transform: translate(-100%);
    }
    100%{
        opacity: 1;
        transform: translate(0%);
    }
}
.label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.heading{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section_description{
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 400;

}
.button_grp{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem auto;
    justify-content: center;
    align-items: center;
}
.start,.tour{
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    padding: 0.675rem 1.2rem;
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1sec;
}
.tour{
    background-color: var(--dark-gray);
}
.start:hover{
    background-color: #5245f8;
}
.tour:hover{
    background-color: var(--gray);
}
.contentright{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_container{
    border: none;
    border-radius: 1.125rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 57vh;
}
.section_image{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:800px) {
    .mainsection{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        padding: 0.6rem;
        margin: 0 auto;
    }
    .contentleft{
        max-width: 50%;
        text-align: left;
        
    }
    .heading{
        padding: 0;
    }
    .button_grp{
        justify-content: start;
        padding-left: 0;
    }
    .heading{
        font-size: 3.8rem;
        margin-top: .5rem;
        margin-bottom: 0.5rem;
    }
    .image_container{
        height: 70vh;
    }
    .section_description{
        font-size: 1rem;
        color: gray;
        width: 80%;
    }
}
.company_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    font-size: 2rem;
    animation: slidefromleft 1s ease-in forwards;
    /* margin-bottom: 10rem; */
    
}
.company_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 3.5rem;
    /* gap: 2rem; */
    column-gap: 2rem;
    row-gap: 0.8rem;
    background-color: var(--light-gray);
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.company_logo{
    font-size: 1rem;
    font-weight: 600;
    /* display: flex; */
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray);
    /* margin: 0.5rem; */

}
.logo_text{
    font-size: 1rem;

}
@media screen and (min-width: 800px) {
    .company_grid{
        grid-template-columns: repeat(4,1fr);
        padding: 0.5rem 2.5rem;
        padding-bottom: 0.2rem;
        
    }
}
.company_title{
    font-size: 2.4rem;
    font-weight: bold;
}

.cards{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature_content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main_info{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.info_heading{
    font-size: 2.25rem;
}

.info_desc{
    color: var(--gray);
    font-size: 0.9rem;
}


.feature_grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.5rem;

}
.card1,.card2,.card3,.card4,.card5,.card6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border: none;
    border-radius: 1rem;
    gap: 1rem;
}
.card_image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;

}
.feature_info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.card_logo{
    width: 1.5rem;
    height: 1.5rem;
}
.feature_title,.feature_desc{
    color: white;
}
.card1{
    background-color: #4a90e2;
}
.card2{
    background-color: #ff6289;
}
.card3{
    background-color: #fcbf58;
}
.card4{
    background-color: #44bfc3;
}
.card5{
    background-color: #77b05d;
}
.card6{
    background-color: #7b78b1;
}
.feature_title{
    font-weight: bold;
    font-size: 1.3rem;
}
@media screen and (max-width:800px) {
    .feature_grid{
        grid-template-columns: repeat(1,1fr);
        margin: 0,2rem;
    }
}

.testimonial_container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial_content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}
.testimonial_heading{
    font-size: 1.785rem;
    font-weight: bold;
}
.testimonial_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 2rem;
    grid-gap: 2rem;
    /* margin: 2rem; */

}
.testimonial_card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(151, 140, 140);
    border-radius: 0.876rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* gap: 2rem; */
    padding: 1rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .testimonial_card:hover{
    transform: scale(1.05);
    box-shadow: 0,4px,8px,rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}
.test_image{
    height: 5rem;
    width: 5rem;
}
.testimonial_text{
    font-size: 0.876rem;
    color: #555;

}
.test_name{
    font-size: 1rem;
    color: var(--primary-color);
}
.test_info{
    font-size: 0.875rem;
    color: #777;
}
.newsletter_container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 40vh;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
}   
.news_content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

}
.news_left{
    width: 50%;
    height: 100%;
}
.news_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.news_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    gap: 1rem;
}
.news_title{
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--primary-color);
}
.news_desc{
    text-align: left;
    color: #777;
}
.news_form{
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6rem;
}
.news_email{
    /* width: 50%; */
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news_email:focus{

    border-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.send_button{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--background-color);
    border: none;
}
.send_button:hover{
    background-color: var(--link-color);
}
.privacy_policy{
    font-size: 0.76rem;
    color: #777;
}
.newslink{
   color: #2563eb; 
   text-decoration: underline;
}


@media screen and (max-width: 800px){
    .news_left{
        display: none;
    }
    .news_right{
        width: 100%;
        align-items: center;
    }
}

.footer_container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}
.footer{
    max-width: 1280px;
    padding: 1rem;
    text-align:left;
    display: flex;
    justify-content: space-between;
}
.footer_top{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

}
.social_icon{
    width: 2.2rem;
    height: 6rem;
}
.company_logo_footer{
    display: flex;
    justify-content: flex-start;
}
.logo_link_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.26rem;
    font-weight: bold;
    color: black;
}
.filler_text{
    font-size: 1rem;
    color: #777;
    margin-bottom: -1rem;

}
.logo_link_footer img{
    height: 2rem;
    width: 2rem;
}
.socials{
    display: flex;
    gap: 1.3rem;
}

.footer_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3.6rem;
    width: 67%;
}
.footer_grid_heading{
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--text-color);
     
}
ul{
    list-style: none;
}
.footer_link{
    color: #777;
    font-size: 1rem;
    font-size: 0.9rem;
}
.footer_link_lists{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer_grid_heading{
    margin-bottom: 1.65rem;
}
.footer{
    margin-top: 2.5rem;
}
.footer_copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin: 1.3rem;
    border-top: 1.5px solid #e5e7eb;
    padding-top: 2rem;
}

@media screen and (max-width : 1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer_top{
        padding-left: 1rem;
    }
    
}
@media screen and (max-width:800px) {
    .footer_grid{
        grid-template-columns: repeat(2,1fr);
    }
}